<div class="table-responsive-md">
<table class="table table-striped">
  <tr>
    <th>Metadata</th>
    <th>Title</th>
    <th>Description</th>
    <th>Notes</th>
    <th>Links</th>
  </tr>
  {% for vid in include.vids %}
    <tr>
      <td>
        <table class="table">
        <tr>
          <td>NARA ID</td>
<td markdown="1">
{% if vid.naid %}
[{{ vid.naid }}](https://catalog.archives.gov/id/{{ vid.naid }})
{% else %}
Not in archives
{% endif %}
</td>
        </tr>
        <tr>
          <td>Date</td>
          <td>{{ vid.date }}</td>
        </tr>
        <tr>
          <td>Length</td>
          <td>{{ vid.length }} mins</td>
        </tr>
        <tr>
          <td>Color</td>
          <td>
          {% if vid.color %}Y{% else %}N{% endif %}
          </td>
        </tr>
        </table>
      </td>
      <td>{{ vid.title }}</td>
      <td>{{ vid.description | truncate: 900 }}</td>
      <td>{{ vid.notes }}</td>
      <td>
        {% if vid.links %}
          <ul>
{% for link in vid.links %}
<li markdown="1">
[{{ link.name }}]({{ link.url }}) {% if link.notes %} ({{ link.notes }}) {% endif %}
</li>
{% endfor %}
          </ul>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
</div>